<h1>Groups and Projects</h1>
<table class="table table-striped">
  <thead>
    <tr>
      <th>Group</th>
      <th>Project</th>
      <th></th>
    </tr>
  </thead>
  <tbody id="projects-body">
    <% if (viewData) { %>
      <% let moreGroupsShown = false; %>
      <% for (const [groupIndex, group] of viewData.entries()) { %>
        <tr>
          <td class="w-25">
            <% if (group.groupAvatar) { %>
              <img src="<%= group.groupAvatar %>" crossorigin="anonymous" width="40">
            <% } %>
            <a href="https://gitlab.lnu.se/<%= group.groupUrl %>"><%= group.groupName %></a>
            <%= group.groupUrl %>
          </td>
          <td class="w-25">
            <% let moreProjectsAvailable = false; %>
            <% for (const [index, project] of group.groupProjects.entries()) { %>
              <tr>
                <td>
                  <% if (project.projectAvatar) { %>
                    <img src="<%= project.projectAvatar %>" crossorigin="anonymous" width="40">
                  <% } %>
                  <a href="https://gitlab.lnu.se/<%=project.projectUrl %>"><%= project.projectName %></a>
                  <%= project.projectUrl %>
                </td>
                <td>
                  <%= project.latestCommit %> <%= isLoggedIn %>
                </td>
                <td>
                  <%= project.commitPerson %>
                  <% if (project.commitPersonAvatar) { %>
                    <img src="<%= project.commitPersonAvatar %>" crossorigin="anonymous" width="40">
                  <% } %>
                </td>
              </tr>
              <% if (index === group.groupProjects.length - 1) { %>
                <% moreProjectsAvailable = group.moreProjectsAvailable; %>
                <% if (moreProjectsAvailable) { %>
                  <tr>
                    <td colspan="3" class="text-center text-info">
                      Fler projekt tillgängliga
                    </td>
                  </tr>
                <% } %>
              <% } %>
            <% } %>
          </td>
        </tr>
        <% if (groupIndex === viewData.length - 1 && group.groupCount > 3 && !moreGroupsShown) { %>
          <tr>
            <td colspan="3" class="text-center text-info">
              Fler grupper tillgängliga
            </td>
          </tr>
          <% moreGroupsShown = true; %>
        <% } %>
      <% } %>
    <% } else { %>
      <tr>
        <td colspan="3" class="text-center text-danger">
          There are no projects to display
        </td>
      </tr>
    <% } %>
  </tbody>
</table>
