<h1>Groups and Projects</h1>
<table class="table table-striped">
  <thead>
    <tr>
      <th>Group</th>
      <th>Project</th>
      <th></th>
    </tr>
  </thead>
  <tbody id="projects-body">
    <% if (viewData) { %>
      <% for (const group of viewData) { %>
        <tr>
          <td class="w-25">
            <% if (group.groupAvatar) { %>
              <img src="<%= group.groupAvatar %>" crossorigin="anonymous" width="40">
            <% } %>
            <a href="https://gitlab.lnu.se/<%= group.groupUrl %>"><%= group.groupName %></a>
            <%= group.groupUrl %>
          </td>
          <td class="w-25">
            <% for (const project of group.groupProjects) { %>
              <tr>
                <td>
                  <% if (project.projectAvatar) { %>
                <img src="<%= project.projectAvatar %>" crossorigin="anonymous" width="40">
                <% } %>
                <a href="https://gitlab.lnu.se/<%=project.projectUrl %>"><%= project.projectName %></a>
                <%= project.projectUrl %>
              </td>
              <td>
                <%= project.latestCommit %> <%= isLoggedIn %>
              </td>
              <td>
                <%= project.commitPerson %>
                <% if (project.commitPersonAvatar) { %>
                <img src="<%= project.commitPersonAvatar %>" crossorigin="anonymous" width="40">
                <% } %>
              </td>
              </tr>
                         
             
            <% } %>
          </td>
        </tr>
      <% } %>
    <% } else { %>
      <tr>
        <td colspan="3" class="text-center text-danger">
          There are no projects to display
        </td>
      </tr>
    <% } %>
  </tbody>
</table>
