<h1 id="profile-title">Profile</h1>

 
  <body id="profile-info">
    <% if (viewData) { %>

      <h4 class="profile-h4">Gitlab ID: </h4>
      <%= viewData.gitlabId %>

      <h4 class="profile-h4">Email: </h4>
      <%= viewData.email %>

      <h4 class="profile-h4">Name: </h4>
      <%= viewData.name %>

      <h4 class="profile-h4">Username: </h4>
      <%= viewData.userName %>

      <img src="<%= viewData.avatar %>" crossorigin="anonymous" width="40">

      <h4 class="profile-h4">Last activity: </h4>
      <%= viewData.lastActivity %>
     
    <% } else { %>
      <tr>
        <td colspan="3" class="text-center text-danger">
          There are no information to display
        </td>
      </tr>
    <% } %>
  </body>

